<form class="uk-search" data-uk-search="{source:'public/users.json'}">
  <input class="uk-search-field" type="search" placeholder="Search">
  <button class="uk-search-close" type="reset"></button>
</form>