<% provide :title, "Users List" %>

<div id="users-list" class="uk-container uk-container-center">
	
	<div class="uk-grid">
    
    <div class="eco-sidebar uk-width-medium-1-4">

      <%= render 'users/sidebar' %>

    </div>


    <div class="eco-main uk-width-medium-3-4">
			<h1><i class="uk-icon-users"></i> Users List</h1>
			<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
				<thead>
					<tr>
						<td>Username</td>
						<td>Email</td>
						<td>Role</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					<%= render @users %>
				</tbody>
			</table>
    </div>
	</div>
</div>