<ul class="uk-nav uk-width-2-3 uk-text-center">

	<li>
  	<form class="uk-search" data-uk-search="{source:'my-results.json'}">
	    <input class="uk-search-field" type="search" placeholder="Search">
	    <button class="uk-search-close" type="reset"></button>
		</form>
  </li>

</ul>