<% provide :title, "Assets List" %>

<div id="users-list" class="uk-container uk-container-center">
	
	<div class="uk-grid">
    
    <div class="uk-width-medium-1-4">

      <%= render 'assets/sidebar' %>

    </div>


    <div class="eco-main uk-width-medium-3-4">
			<h1><i class="uk-icon-users"></i> Assets List</h1>
			<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
				<thead>
					<tr>
						<td>Kind</td>
						<td>Qty</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
    </div>
	</div>
</div>