<% provide :title, "Listing assets" %>

<div id="users-list" class="uk-container uk-container-center">
	
	<div class="uk-grid">
    
    <div class="eco-sidebar uk-width-medium-1-4">

      <%= render 'assets/sidebar' %>

    </div>


    <div class="eco-main uk-width-medium-3-4">
			<h1><i class="uk-icon-gears"></i> Listing assets</h1>
			<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
				<thead>
					<tr>
						<th>Kind</th>
						<th>Qty</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Server</td>
						<td><%= servers_qty %></td>
					</tr>
					<tr>
						<td>Software</td>
						<td><%= softwares_qty %></td>
					</tr>
					<tr>
						<td>Network Device</td>
						<td><%= network_devices_qty %></td>
					</tr>
				</tbody>
			</table>
    </div>
	</div>
</div>